*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;

}
header{
    height: 700px;
    width: 100%;
    background-image: url("../images/banner/banner2.png");
    margin-right: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 700px;
   


}
.header-pra{
    padding-bottom: 20px;
}

.header h2{
    font-family: Work Sans;
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: right;
    margin-bottom: 18px;
   
    
}
.header{
    display: flex;
}
.first-nav{
    width: 50%;
    margin-bottom: 365px;
}

.second-nav{
    margin-top: 180px;
    margin-right: 100px;
    width: 50%;
    text-align: right;
    margin-bottom: 365px;
}
.second-nav .primary-button{
    margin-bottom: 200px;
}
.primary-button{
    background-color: orangered;
    padding: 20px 26px;
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;
    border: none;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* failure section */
.failure{
    margin-top: 70px;
    height: 500px;
    display: flex;
    padding: 0px 80px;
}
.failure-image img{
    height:400px;
}
.failure-text{
    margin-top: 100px;
    margin-left: 40px;
}
.failure-text h3{
    font-size: 30px;
    margin-bottom: 10px;

}
.section-discription{
    margin-bottom: 10px;
}
.failure-text li{
    margin-bottom: 5px;
}

.plan{
    display: flex;
}
.my-plan .plan{
    justify-content: center;
}
.my-plan{
    justify-content: center;
}
.section-title{
    text-align: center;
}
.plan-blog{
    margin: 40px;
    text-align: center;
}